@charset "UTF-8";

header .row {
    margin: 0px;
    padding: 20px 0px 50px;
}

header .control {
    text-align: right;
}

header .btn.edit {
    font-size: 16px;
}


header .btn.delete {
    font-size: 16px;
}


header .btn.list {
    font-size: 16px;
}

header .date {
    margin: 10px 0px;
    font-size: 24px;
}

header .project {
    margin: 10px 0px;
    font-size: 24px;
    font-weight: bold;
}

header .description {
    padding: 10px 40px;
}

form.form-horizontal .form-group {
    margin: 0px 0px 15px;
}

form .comment {
    resize: none;
}

form .btn {
    width: 80px;
}

section .contents {
    margin: 50px 0px 0px;
}

section .contents .list-group li {
    position: relative;
}

section .contents .list-group li.default {
    min-height: 40px;
}

section .contents .btn-delete {
    position: absolute;
    top: 5px;
    right: 3px;

    display: block;

    width: 20px;
    height: 20px;

    color: #aaa;
}

section .contents .btn-delete:hover, section .contents .btn-delete:focus {
    text-decoration: none;
}

section .contents .text {
    padding: 5px 10px;
    font-size: 16px;
}

section .contents .author {
    margin-top: 10px;
    text-align: right;
}
