@charset "UTF-8";

header .control {
    padding: 10px 0px 10px;
    text-align: right;
}

header .row {
    margin: 0px;
    padding: 5px 0px 5px
}

header .btn.delete {
    font-size: 9px;
}

header .date {
    font-size: 10pt;
    text-align: right;
}

header .project {
    font-size: 10pt;
}

header .title {
    margin: 5px 0px 10px;
    font-size: 10pt;
    font-weight: bold;
}

header .description {
    margin: 5px 0px 0px;
    padding: 0px 40px;
    font-size: 10pt;
}

section {
    background: #FFF;
}

section .contents {
    margin: 0px 0px 5px;

    font-size: 9pt;

    /* page-break-inside: avoid; */
}

section .contents .title {
    margin: 10px 0px;
    font-size: 10pt;
}

section .contents table {
    margin: 0px;
}

section .contents table .author {
    width: 50pt;
}
