@charset "UTF-8";

section {
    padding-top: 20px;
    padding-bottom: 0px;
}

section > .contents {
    margin-top: -96px;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    padding: 106px 30px 20px;
    min-height: 100%;

    background: #fff;
}

.nav {
    position: relative;
    z-index: 1;

    background: #ccc;
}

.control {
    padding: 20px 30px 0px;
    text-align: right;
}

.kpt-list.empty {
    padding: 10px;
}

.kpt-list .date {
    width: 100px;
}

.kpt-list .title {
    width: 400px;
}

.kpt-list .edit, .kpt-list .copy, .kpt-list .delete {
    width: 50px;
}

.kpt-list .button {
    color: #666;
}
